body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}



.top-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    /*width: 1200px;*/
    border: 2px solid green;
    
    margin-left: auto;
    margin-right: auto;   
    margin-top: 30px;    
}

/* All child elememts in first level of top-part element */
.top-part > * {     
    flex-grow: 0;
    flex-shrink: 1;     
}


.top-part .top-img {
    max-height: 250px;
}

/* this guy makes the first element (logo) horizontal centered */
.top-part img:nth-child(1) {
    margin: auto;
    max-height: 150px; 
}
