    .m-navbar ul {   
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        font-size: 13px;
    }

    /* First level - menu Items are side by side */
    .m-navbar > ul > li {
        float: left;
    }

    .m-navbar ul li {
        position: relative;
        margin-bottom: 0px;
        background: linear-gradient(#b30000, #660000);    
    }


    /* First menu item in first level */
    .m-navbar > ul > li:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;    
    }

    .m-navbar > ul > li > a {
        padding: 6px 30px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    /* Last menu item in first level */
    .m-navbar > ul > li:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: linear-gradient(#208000, #134d00);
    }

    .m-navbar > ul a {    
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        color: #fff;
        display: block;
    }

    .m-navbar > ul > li:nth-child(n+2) > a {
        /* Second and subsequent items in first level design border on left side*/
        border-left: 2px solid rgba(255, 71, 26, 0.3);
    }


    /*Hover over first level item --> display second menu level*/
    .m-navbar > ul > li:hover > ul {
        opacity: 1;
        visibility: visible;
        margin: 0;
    }

    /* Hover over items in first menu level */
    .m-navbar > ul > li:hover > a {        
        background: #ff6600;
    }

    .m-navbar > ul > li:hover:last-child > a {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;    
    }

    .m-navbar > ul > li:hover:first-child > a {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;    
    }

    /* End of FIRST menu level */

    /* Second menu level */
    .m-navbar > ul > li > ul {
        margin: 0px 0 0 0; 
        opacity: 0; 
        visibility: hidden;
        position: absolute;
        z-index: 40;    
        border-radius: 3px; 
        transition: all .3s ease-in-out; 
    }

    /* Second and higher level li */
    .m-navbar > ul > li > ul li {
        float: none;
        display: inline-block;    
        border: 0; 
        width: 190px;
        box-shadow: 0 1px 0 #111, 0 2px 0 #666; 
        border-bottom: 1px solid rgba(255, 153, 128, 0.3);
        border-radius: 5px;
    }

    .m-navbar > ul > li > ul > li a {
        border-radius:5px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: auto;
        margin-right: auto;
        width: 180px;
        display: block;    
        white-space: nowrap;
        float: none;    
    }
    
    /* Color of hoover over second menu level */
    .m-navbar > ul > li > ul > li:hover > a {
        background: #ff944d;   
    }

    /* We don't want border in the last item in second menu level'*/
    .m-navbar > ul > li > ul > li:last-child, .m-navbar > ul > li > ul > li > ul > li:last-child {    
        border-bottom: 0px;
    }

    /* Third menu level */
    .m-navbar > ul > li > ul > li > ul{    
        opacity: 0; 
        visibility: hidden;
        position: absolute;
        top: 0px;
        left: 187px;    
        border-radius: 3px; 
        transition: all .3s ease-in-out; 
    }
    
    .m-navbar > ul > li > ul > li:hover > ul {
        opacity: 1; 
        visibility: visible;
    }
    
    /* Color of hoover over third menu level */
    .m-navbar > ul > li > ul > li > ul > li:hover > a {
        background: rgba(16, 117, 16, 0.8);
    }
    /* Don't display parts for mobile version */
    .close_mobile_menu, .mobile_menu_btn_wrapper {
        display: none;
    }