body {
    padding: 0;
    margin: 0;
    background: #af6b1d;
}

#text-carusel {    
    display: flex;
    border: 2px solid #606060;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;    
    background: #002699;       
}

.text-carusel-content { 
  position: relative;
  display: block;  
  margin-left: 15px;
  background: #696969;  
  border-radius: 4px;
  color: #e6e600;
  font-weight: bold;
  overflow: hidden;
  cursor: default;
}

.text-carusel-row {
  padding: 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.text-carusel-row > span {
  margin: 0;
  display: inline-block;
  position: relative;
  line-height:35px;
  font-size: 16px;  
  width: 60%;
  text-transform: uppercase;
}

.text-carusel-item span {
  position: relative;
  display: inline-block;
  z-index: 2;
}
